# macOS
.DS_Store

# Xcode user state
xcuserdata/
*.xcuserstate
*.xcscmblueprint

# Build products
build/
DerivedData/

# Archives / exports
*.xcarchive
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.swiftpm/
.build/

# Playgrounds
timeline.xctimeline
playground.xcworkspace

dist/
